<!-- <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p> -->
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= form_for(@user) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

       <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
    

    <% unless f.object.errors.empty? %>
  <div class="alert alert-error">
    <strong>Try again after fixing the following things:</strong><br/>
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>